<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>detail</title>

		<link href="css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="css/admin.css" rel="stylesheet" type="text/css" />
		<link href="css/demo.css" rel="stylesheet" type="text/css" />
		<link href="css/seastyle.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.onload=function(){
				var email = sessionStorage.getItem('email');
				//console.log(email);
				var idToken = sessionStorage.getItem('id_token');
				//console.log(idToken);
				if(idToken == null || idToken == ""){
					location.href = "login.html";
					return;
				}
				var btn1 = document.getElementById("btn1");
				
				btn1.onclick= function searchpage(){
					//var url = "detail.html?"  + "image_link=" + image_link;
					location.href = "search.html";
				}
				var vue=new Vue({
					el:"#div1",
					data:{
						image:{},
						tags: "",
						image_link: "",
						user_email: email
					},
					methods:{
						//selectByImage
						selectByImage(){
							image_link = localStorage.getItem("image_link");

							fetch('https://hhtxzbdtx8.execute-api.us-east-1.amazonaws.com/image_detail/image_detail',{
								method: 'POST',
								mode: 'cors',
								body: JSON.stringify({"image_link": image_link}),
								headers:{
									"Authorization":idToken
								}
							})
							.then(response => response.json())
							.then((result)=>{
								console.log(result);
								this.image = result;
							})
							.catch(function (error) {
								console.log(error);

							});
						},
						
						//modifyTags
						modifyTags(tags){
							image_link = localStorage.getItem("image_link");

							fetch('https://j8eg5hm106.execute-api.us-east-1.amazonaws.com/modifyImage/api/modify_tags',{
								method: 'POST',
								mode: 'cors',
								body: JSON.stringify({"image_link": image_link,"tags": tags}),
								headers:{
									"Authorization":idToken
								}
							})
							.then(response => response.json())
							.then((result)=>{
								console.log(result);
								this.selectByImage();
							})
							.catch(function (error) {
								console.log(error);
								alert("error");
							});
						},
						//jump to search
						
					},
					
					mounted(){
					 //init
						this.selectByImage();
					}
					
				});
				
			}		
		</script>
		
	</head>


	<body>

		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">	
			</ul>
			
			<ul class="message-r">
				
				
				
			</ul>
			</div>

			<!--悬浮搜索框-->

			<div class="clear"></div>
           <div class="search">
					<div class="am-g am-g-fixed" id="div1">		
						<div class="topMessage home">
							<div class="menu-hd">
								<a href="#" target="_top" class="h">{{user_email}}</a>
							</div>
						</div>
						
						<div class="nav white">
						
							<div class="search-bar pr">
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="deleteTags" autocomplete="off" v-model="tags">
									<input id="ai-topsearch" class="submit am-btn"  value="delete" index="1" type="button" @click="modifyTags(tags)">
								</form>
							</div>
						</div>
						
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														
							
                        </div>
							<div class="div">
								<div class="clear"></div>
								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes" v-for= "i in image">
									
										<div id="display_left">
											<img :src="i.image_link" height="400" width="500"/>
											</div>
										<div id="display_right">
											<p class="title1">
												{{i.image_tags}}
											</p>
											<p class="number fl">
											</p>
											</div>
										</div>
									
								</ul>
							</div>
							<div class="search-side">

							</div>
							<div class="clear"></div>

						</div>
					</div>
				</div>
				<div>
					<button id="btn1" type="button" class="button_re" href="#" target="_top"  onclick="searchpage()">return the search page</button>
				</div>
			</div>

	</body>

</html>